@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(45deg, rgb(65, 88, 208) 0%, rgb(200, 80, 192) 50%, rgb(255, 204, 112) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins";
    color: black;
    font-size: 15px;
}

.card {
    border: none;
    background: white;
    width: 440px;
    height: auto;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
}

.card p {
    margin-top: 25px;
}

.inp input {
   padding: 25px 0px;
    width: 300px;
    height: 40px;
    border: none;
    outline: none;
    border-bottom: 2px solid;
}
.inp  {
    margin: 5px;
}



.code {
    position: relative;
    display: flex;
}

.inp .sendcode {
    
    color: white;
    width: 60px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background: black;
}

.card .sendcode:hover {
    background: rgb(81, 108, 240);
}

.card .changed {
    margin:0px 40px;
    color: white;
    width: 220px;
    height: 40px;
    border: none;
    border-radius: 20px;
    background: black;
}

.card .changed:hover {
    background: rgb(81, 108, 240);
}

.card a {
    text-decoration: none;
}

.card a:hover {
    color: red;
}
.inp #new{
    top: 6px;
    position: relative;
   
}
.inp #new2{
    position: relative;
    top: -24px;
}
.home img {
    float: right;
    padding: 5px;
}
#pas{
    width: 235px;
    height: 40px;
    border: none;
    outline: none;
    border-bottom: 2px solid;
}

/* pas */
.bug{
  visibility: hidden;
    position: relative;
   right: 0;
top: -22px;
   padding: 3px 10px;
   width: 130px;
   background-color: black;
   display: inline-block;
   color: #fff;
   border-radius: 10px;
    font-size: 13px;

}

.bug::before{
    content: " ";
    position: absolute;
    top: -10px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(36, 33, 33) transparent transparent transparent;
    transform: rotate(180deg);
}

